.feinman__subtitle {
    margin: 0;
    width: max-content;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
    margin: 0;
    text-align: center;
  }